<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <img src="assets/BJJLogo.png" alt="Logo" style= "height: 100px; width: 107px; margin-left: 28px;">
      <div style="margin-right: 130px;">{{title}}</div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Technique Library</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Technique Library "></app-explore-container>
</ion-content>
